.container {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
}

.header h2 {
  position: relative;
  color: rgba(66, 86, 122, 1);
  font-family: PT Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  padding-left: 50px;
}

@media (max-width: 720px) {
  .header h2 {
    font-size: 20px;
  }

  .wrapper {
    padding: 20px;
  }

  .header h2 {
    padding-left: 0;
  }
}

.header h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(rgba(56, 119, 238, 1), rgba(239, 93, 168, 1));
}

@media (max-width: 720px) {
  .header h2:before {
    display: none;
  }
}

.swiper {
  margin-top: 100px;
}

.slide {
  max-width: 400px;
  margin: 10px;
}

.slide span {
  color: rgba(56, 119, 238, 1);
  font-family: Bebas Neue;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.slide p {
  color: rgba(66, 86, 122, 1);
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 720px) {
  .slide {
    max-width: 200px;
  }

  .slide span {
    font-size: 16px;
  }

  .slide p {
    font-size: 14px;
  }

  .swiper {
    margin-top: 10px;
  }
}

.swiper :global .swiper-button-prev,
.swiper :global .swiper-button-next {
  top: 50%;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.swiper :global .swiper-button-prev:after,
.swiper :global .swiper-button-next:after {
  font-size: 26px;
}

.swiper :global .swiper-button-prev.swiper-button-disable,
.swiper :global .swiper-button-next.swiper-button-disable {
  opacity: 0;
}

.swiper-pagination :global{
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 80px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  color: rgba(66, 86, 122, 1);
}

.arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(66, 86, 122, 1);
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 720px) {
  .control {
    width: 25px;
    height: 25px;
  }
}

.dates {
  margin-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
}

.datemax {
  color: rgba(239, 93, 168, 1);
  font-family: PT Sans, sans-serif;
  font-size: 160px;
  font-weight: 700;
  line-height: 1.2;
  z-index: 2;
}

.datemin {
  color: rgba(56, 119, 238, 1);
  font-family: PT Sans, sans-serif;
  font-size: 160px;
  font-weight: 700;
  line-height: 1.2;
  z-index: 2;
}

@media (max-width: 720px) {
  .datemax,
  .datemin {
    font-size: 56px;
  }

  .dates {
    gap: 20px;
  }
}

.radial {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 1px solid rgba(66, 86, 122, 1);
}

@media (max-width: 720px) {
  .radial {
    display: none;
  }
}

.pin {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(66, 86, 122, 1);
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
  cursor: pointer;
}

.pin:hover {
  background: rgb(244, 245, 249);
  border: solid rgba(48, 62, 88, 0.5) 1px;
  width: 56px;
  height: 56px;
}

.pin__index {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(66, 86, 122, 1);
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s, opacity 0.3s;
}

.pin:hover .pin__index {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.pin__title {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  transition-delay: 0s;
}

.pin.pin_active {
  pointer-events: none;
}

.pin.pin_active .pin__title {
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}

@media (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .header {
    order: 1;
  }

  .dates {
    order: 2;
  }

  .swip {
    margin-top: 50px;
    order: 3;
  }

  .controls {
    order: 4;
  }
}
