.container {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
}

.header h2 {
  position: relative;
  color: rgba(66, 86, 122, 1);
  font-family: PT Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  padding-left: 50px;
}

@media (max-width: 720px) {
  .header h2 {
    font-size: 20px;
  }

  .wrapper {
    padding: 20px;
  }

  .header h2 {
    padding-left: 0;
  }
}

.header h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(rgba(56, 119, 238, 1), rgba(239, 93, 168, 1));
}

@media (max-width: 720px) {
  .header h2:before {
    display: none;
  }
}